@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  scroll-behavior: smooth;
}

.form-group{
    position: relative;
    display: flex;
    padding-top: 2vh;
    justify-content: space-between;
    margin-right: 75vw;
}

.payForm{
    position: relative;
    display: flex;
    padding-top: 5vh;
    justify-content: space-around;
    margin-right: 80vw;
}

.form{
    font-family: 'Montserrat';
}

.card{
    position: relative;
    display: flex;
    width: 72vw;
    height: 10vh;
    background:white;
    color: black;
    border: 1px solid white;
    border-radius: 10vh;
    align-items: center;
    justify-content: space-between;
}

.card-text{
    position: relative;
    display: grid;
    margin-left: 5vw;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
    font-family: 'Montserrat';
    font-size: larger;
}

.confirm-btn{
    font-family: 'Montserrat';
    background:white;
    color: black;
    border: 1px solid black;
}

.button{
    border-color: none;
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
}

.screen-btn{
    font-family: 'Montserrat';
    font-size: x-large;
    color: white;
    z-index: 3;
}

.designedby{
    position: absolute;
    font-family: "Montserrat";
    font-size: large;
    top: 100vh;
    left: 7vw;
    z-index: 3;
}

.about{
    font-family: "Montserrat";
    text-align: right;
    font-size: 3vh;
    margin-left: 50vw;
}

.h2{
    font-family: 'Rubik Mono One';
    color: #0077BE;
    text-align: right;
    font-size: 7vh;
    top: 0;
}

.confirm-title{
    font-family: 'Rubik Mono One';
    color: #0077BE;
    font-size: 7vh;
    top: 0;
    justify-self: center;
    align-self: center;
}

.confirm-p{
    font-family: "Montserrat";
    font-size: 3vh;
    justify-self: center;
    align-self: center;
}

.info-title{
    font-family: 'Rubik Mono One';
    color: #0077BE;
    font-size: 7vh;
    top: 0;
}

.info-p{
    font-family: "Montserrat";
    font-size: 3vh;
}

.home-button-section{
    position: absolute;
    top: 60vh;
    left: 90vh;
    z-index: 3;
}

.screen-button-section{
    position: relative;
    margin-top: 5vh;
    width: 614px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.lessons-button-section{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    gap: 5vh;
}

.screen-foreground-section{
    position: relative;
    display: grid;
    justify-content: space-around;
    align-content: space-between;

    height: 80vh;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    z-index: 4;
}

.screen-background-section{
    position: relative;
    top: 2vh;
    margin-left: 15vh;
    margin-right: 15vh;
}

.background-element {
  position: absolute;
  width: 100%;
  top: 25vh;
  z-index: 1;
}

.title{
    position: absolute;
    font-family: 'Rubik Mono One';
    color: #0077BE;
    top: 40vh;
    font-size: 20vh;
    z-index: 2;
}

.navbar{
    background-color: #0077BE;
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.navbar-brand{
    padding-left: 1rem;
}

.nav-link {
    font-family: 'Rubik Mono One';
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-pills .nav-link.active {
    background-color: white;
    color: #0077BE;
    border-radius: 10px;
}
